mixin stream(stream)
    section.stream(class='stream-' + stream.name)
        a.stream-title(href=stream.link target="_blank" rel="nofollow") #{stream.title}
        .stream-content
            each content in stream.content
                article.stream-content-item
                    p.stream-content-text !{content.text}
                        span.stream-content-author - #{content.author}
                    a.stream-content-date(href=content.url target="_blank" rel="nofollow" title=utils.moment(content.date).format('HH:mm DD.MM.YYYY'))
                        time #{utils.moment(content.date).fromNow()}
        a.stream-read-more(href=stream.link target="_blank" rel="nofollow") daha fazlasını oku...
        .stream-update-time(title=utils.moment(stream.updateTime).format('HH:mm DD.MM.YYYY'))
            | Son güncellenme: #{utils.moment(stream.updateTime).fromNow()}
